@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --primary: #4f46e5;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #1f2937;
  --accent: #fbbf24;
  --accent-foreground: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inconsolata);
  --font-mono: var(--geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f9fafb;
    --primary: #6366f1;
    --primary-foreground: #ffffff;
    --secondary: #1f2937;
    --secondary-foreground: #f9fafb;
    --accent: #f59e0b;
    --accent-foreground: #1f2937;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px; /* Adjust as needed */
  height: 8px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Darker gray thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker gray on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb color track color */
}